{% extends "news_blog/base.html" %}

{% block title %}Home Page{% endblock %}

{% block css %}

    <style>
        #myDD {
            user-select: none;
        }
    </style>

{% endblock %}

{% block notification %}

    <li class="dropdown" id="myDD">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Notification (<span id="notification_count">{{ notifications|length }}</span>)
        </button>
        <ul class="dropdown-menu dropdown-menu-light" style="min-width: 20rem;" aria-labelledby="dropdownMenuButton2">
        {% if notifications %}
            {% for noti in notifications %}
                <li>
                    <div class="container">
                        <div class="row" id="{{ noti.id }}">
                            <div class="col-md-8">
                                {% if noti.notification_type.name == 'post added' %}
                                    <a class="dropdown-item noti-item" href="{% url 'news_detail' pk=noti.post.id %}">
                                        <p>
                                            <strong>{{ noti.post.title|slice:":25" }}{% if noti.post.title|length > 25 %}...{% endif %}</strong>
                                            <br>
                                            By {{ noti.post.author_display_name }}
                                        </p>
                                    </a>
                                {% elif noti.notification_type.name == 'post deleted' %}
                                    <span class="dropdown-item">
                                        Deleted:
                                        <strong>{{ noti.post.title|slice:":25" }}{% if noti.post.title|length > 25 %}...{% endif %}</strong>
                                        <br>
                                        By {{ noti.post.author_display_name }}
                                    </span>
                                {% endif %}

                            </div>
                            <div class="col-md-4">
                                <span class="btn btn-secondary px-0 noti-item">Mark Read</span>
                            </div>
                        </div>
                    </div>

                </li>
            {% endfor %}
        {% else %}
            <span class="dropdown-item">
                No Notifications
            </span>

        {% endif %}
            <hr>
            <a class="dropdown-item" href="{% url 'notification_list' %}">
                View all notifications
            </a>

        </ul>
    </li>


{% endblock %}

{% block body %}

<div class="container my-3">
{% if posts %}
    {% for post in posts %}
        <div class="card mb-3" style="max-width: 90%;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="News Image">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'news_detail' pk=post.id %}">{{ post.title }}</a>
                </h5>
                <p class="card-text">{{ post.content|slice:":255" }}</p>
                <p class="card-text"><small class="text-muted">{{ post.created_on }}</small></p>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    {% if page_obj.has_previous %}
        <a href="{% url 'home' %}?page={{ page_obj.previous_page_number }}">
            Previous Page
        </a>
    {% endif%}
    {% for page_number in page_obj.adjusted_elided_pages %}
        {% if page_number == page_obj.paginator.ELLIPSIS %}
            {{page_number}}
        {% else %}
            <a
                href="{% url 'home' %}?page={{ page_number  }}"
                class="{% if page_number == page_obj.number %}current{% endif %}"
            >
                {{page_number}}
            </a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="{% url 'home' %}?page={{ page_obj.next_page_number }}">
            Next Page
        </a>
    {% endif%}
{% else %}

    No Posts

{% endif %}
</div>


{% endblock %}

{% block js %}

    <script>
        $('#myDD').on('hide.bs.dropdown', function (e) {
            if (e.clickEvent) {
              e.preventDefault();
            }
        });

        $(".noti-item").click(function(){
            let row = $(this).parent().parent();
            let noti_id = row.attr('id');
            $.ajax({
                url: "{% url 'notification_seen' %}?pk="+noti_id,
                success: function(result){
                    let ul = row.parent().parent().parent();
                    {# deleting whole li tag #}
                    row.parent().parent().remove();
                    {# updating counter #}
                    let counter = $('#notification_count');
                    let value = counter.text();
                    counter.text(parseInt(value)-1);
                    if(ul.length == 1) {
                        ul.prepend(`<span class="dropdown-item">
                                No Notifications
                            </span>`)
                    }
                }
            });
        });


    </script>

{% endblock %}