{% extends "news_blog/base.html" %}

{% block title %}Home Page{% endblock %}

{% block css %}

    <style>
        #myDD {
            user-select: none;
        }
        .carousel-inner .item{
           height: 400px;
           background-size:cover;
           background-position: center center;
        }
        #trendingNews {
            width: 100%;
            margin: 0 auto;
        }
        .dropdown-menu[data-bs-popper] {
            left: auto;
            right: 0;
        }
    </style>

{% endblock %}

{% block notification %}

    <li class="dropdown" id="myDD">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Notification (<span id="notification_count">{{ notifications|length }}</span>)
        </button>
        <ul class="dropdown-menu dropdown-menu-light" style="min-width: 20rem;" aria-labelledby="dropdownMenuButton2">
        {% if notifications %}
            {% for noti in notifications %}
                {% if forloop.counter <= 5 %}
                <li>
                    <div class="container">
                        <div class="row" id="{{ noti.id }}">
                            <div class="col-md-8">
                                {% if noti.notification_type.name == 'post added' %}
                                    <a class="dropdown-item noti-item" href="{% url 'news_detail' pk=noti.post.id %}">
                                        <p>
                                            <strong>{{ noti.post.title|slice:":20" }}{% if noti.post.title|length > 20 %}...{% endif %}</strong>
                                            <br>
                                            By {{ noti.post.author_display_name }}
                                        </p>
                                    </a>
                                {% elif noti.notification_type.name == 'post deleted' %}
                                    <span class="dropdown-item">
                                        Deleted:
                                        <strong>{{ noti.post.title|slice:":20" }}{% if noti.post.title|length > 20 %}...{% endif %}</strong>
                                        <br>
                                        By {{ noti.post.author_display_name }}
                                    </span>
                                {% endif %}

                            </div>
                            <div class="col-md-4">
                                <span class="btn btn-secondary px-0 noti-item">Mark Read</span>
                            </div>
                        </div>
                    </div>

                </li>
                {% endif %}
            {% endfor %}
        {% else %}
            <span class="dropdown-item">
                No Notifications
            </span>

        {% endif %}
            <hr>
            <a class="dropdown-item" href="{% url 'notification_list' %}">
                View all notifications
            </a>

        </ul>
    </li>


{% endblock %}

{% block body %}

<div class="container my-3">
    <div class="row">
        <div class="col-md-8">
            {% if trending_posts %}
                <h4 style="text-align: center"><span>Trending News</span></h4>
                <div id="trendingNews" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    {% for tpost in trending_posts %}
                      <button type="button" data-bs-target="#trendingNews" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %}" aria-current="true" aria-label="Slide 1"></button>
                    {% endfor %}
                  </div>
                  <div class="carousel-inner">
                      {% for tpost in trending_posts %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                            <div class="item" style="background-image: url({{ tpost.image.url }})"></div>
                          <div class="carousel-caption d-none d-md-block">
                            <h5>
                            <a href="{% url 'news_detail' pk=tpost.id %}">{{ tpost.title|slice:":80" }}{% if tpost.title|length > 80 %}...{% endif %}</a>
                            </h5>
                            <p>{{ tpost.content|slice:":150" }}{% if tpost.content|length > 150 %}...{% endif %}</p>
                          </div>
                        </div>
                      {% endfor %}

                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#trendingNews" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#trendingNews" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4">
        {% if trending_posts %}
            <form method="GET" class="d-flex">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Filter</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                          Date
                          <input type="date" id="created_on" name="created_on">
                      </td>
                    </tr>
                    <tr>
                      <td>

                          {% for cat in categories %}
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="{{ cat.name }}" value="1" id="{{ cat.name }}">
                                  <label class="form-check-label" for="{{ cat.name }}">
                                        {{ cat.name }}
                                  </label>
                              </div>
                          {% endfor %}

                      </td>
                    </tr>

                    <tr>
                      <td>
                          <div>
                              <label for="editors">Editor</label>
                          </div>
                          <select name="author" id="editors">
                            <option value="">--</option>
                                {% for author in authors %}
                                    <option value="{{ author.author_display_name }}">{{ author.author_display_name }}</option>
                                {% endfor %}
                          </select>
                      </td>
                    </tr>
                  <tr>
                      <td>
                          <button class="btn btn-outline-success" type="submit">Filter</button>
                      </td>
                    </tr>

                  </tbody>
                </table>

            </form>
        {% endif %}
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            {% if posts %}
                {% for post in posts %}
                    <div class="card mb-3" style="max-width: 90%;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="News Image">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'news_detail' pk=post.id %}">{{ post.title|slice:":80" }}{% if post.title|length > 80 %}...{% endif %}</a>
                            </h5>
                            <p class="card-text">{{ post.content|slice:":255" }}{% if post.content|length > 255 %}...{% endif %}</p>
                              -- By <strong>{{ post.author_display_name }}</strong>
                          {% if post.premium %}
                              <span class="badge bg-danger">Premium</span>
                          {% endif %}
                            <p class="card-text">
                                <small class="text-muted">{{ post.created_on }}</small>
                            </p>
                            <p>
                                <i class="fa fa-eye"></i> {{ post.views }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
                {% if page_obj.has_previous %}
                    <a href="{% url 'home' %}?page={{ page_obj.previous_page_number }}">
                        Previous Page
                    </a>
                {% endif%}
                {% for page_number in page_obj.adjusted_elided_pages %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        <a
                            href="{% url 'home' %}?page={{ page_number  }}"
                            class="{% if page_number == page_obj.number %}current{% endif %}"
                        >
                            {{page_number}}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'home' %}?page={{ page_obj.next_page_number }}">
                        Next Page
                    </a>
                {% endif%}
            {% else %}

                No Posts

            {% endif %}
        </div>
    </div>

</div>


{% endblock %}

{% block js %}

    <script>
        $('#myDD').on('hide.bs.dropdown', function (e) {
            if (e.clickEvent) {
              e.preventDefault();
            }
        });

        $(".noti-item").click(function(){
            let row = $(this).parent().parent();
            let noti_id = row.attr('id');
            $.ajax({
                url: "{% url 'notification_seen' %}?pk="+noti_id,
                success: function(result){
                    let ul = row.parent().parent().parent();
                    {# deleting whole li tag #}
                    row.parent().parent().remove();
                    {# updating counter #}
                    let counter = $('#notification_count');
                    let value = counter.text();
                    counter.text(parseInt(value)-1);
                    if(ul.length == 1) {
                        ul.prepend(`<span class="dropdown-item">
                                No Notifications
                            </span>`)
                    }
                }
            });
        });

    </script>

{% endblock %}