{% extends "news_blog/base.html" %}

{% block title %}News Detail{% endblock %}

{% block css %}{% endblock %}

{% block body %}

    <div class="container my-3">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <div>
                        <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="News Image">
                    </div>

                    <span>
                        Posted by
                        <a href="{% url 'home' %}?author={{ post.author_display_name }}">

                                {{ post.author_display_name }}

                        </a>

                        on {{ post.created_on }} (<i class="fa fa-eye"></i> {{ post.views }})
                    </span>

                    <div>
                        {% if user.is_authenticated %}
                            {% if following %}
                                <a href="{% url 'follow' pk=post.id %}?author_id={{ post.author.id }}&author_name={{ post.author_display_name }}">Unfollow</a>
                            {% else %}
                                <a href="{% url 'follow' pk=post.id %}?author_id={{ post.author.id }}&author_name={{ post.author_display_name }}">Follow</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto">
                <hr>
                {{ post.content }}
                <hr>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script>
        $.ajax({
            url: "{% url 'add-views' %}?pk="+{{ post.id }},
            success: function(result){
                console.log(result)
            }
        });
    </script>



{% endblock %}