{% extends "news_blog/base.html" %}

{% block css %}{% endblock %}


{% block body %}
<div class="container my-3">

    <div class="row">
        <div class="col-md-10">
            {% if unseen_notifications %}
                <h2>Un-Read Notifications</h2>
                <ul>
                    {% for notification in unseen_notifications %}
                        <li>
                            <a class="noti-item" id="{{ notification.id }}" href="{% url 'news_detail' pk=notification.post.id %}">
                                <p>
                                    <strong>{{ notification.post.title|slice:":25" }}{% if notification.post.title|length > 25 %}...{% endif %}</strong>
                                    <br>
                                    By {{ notification.post.author_display_name }}
                                </p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h2>No Un-Read Notifications</h2>
            {% endif %}

            {% if notifications %}
                <h2>Old Notifications</h2>
                <ul>
                    {% for notification in notifications %}
                        <li>
                        <a href="{% url 'news_detail' pk=notification.post.id %}">
                            <p>
                                <strong>{{ notification.post.title|slice:":25" }}{% if notification.post.title|length > 25 %}...{% endif %}</strong>
                                <br>
                                By {{ notification.post.author_display_name }}
                            </p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% if page_obj.has_previous %}
                    <a href="{% url 'managers_news_posts_table' %}?page={{ page_obj.previous_page_number }}">
                        Previous Page
                    </a>
                {% endif%}
                {% for page_number in page_obj.adjusted_elided_pages %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        <a
                            href="{% url 'managers_news_posts_table' %}?page={{ page_number }}"
                            class="{% if page_number == page_obj.number %}current{% endif %}"
                        >
                            {{ page_number }}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'managers_news_posts_table' %}?page={{ page_obj.next_page_number }}">
                        Next Page
                    </a>
                {% endif%}
            {% else %}
                <h2>No Old Notifications</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

    <script>
        $(".noti-item").click(function(){
            let noti_id = $(this).attr('id');
            $.ajax({
                url: "{% url 'notification_seen' %}?pk="+noti_id,
                success: function(result){

                }
            });
        });


    </script>

{% endblock %}