{% extends "news_blog/base.html" %}

{% block css %}{% endblock %}


{% block body %}
<div class="container my-3">

    <div class="row">
        <div class="col-md-10">
            {% if unseen_notifications %}
                <h2>Un-Read Notifications</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Post title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Action</th>
                            <th scope="col">Mark read</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for noti in unseen_notifications %}
                            <tr id="{{ noti.id }}">
                                <td>
                                    <a href="{% url 'post-detail' pk=noti.post.id %}">
                                        <strong>{{ noti.post.title|slice:":20" }}{% if noti.post.title|length > 20 %}...{% endif %}</strong>
                                    </a>
                                </td>
                                <td>{{ noti.post.author_display_name }}</td>
                                <td>{% if noti.notification_type.name == 'post added' %}Added Post{% elif noti.notification_type.name == 'post deleted' %}Deleted{% endif %}</td>
                                <td>
                                    <span class="btn btn-secondary px-0 noti-item">Mark Read</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h2>No Un-Read Notifications</h2>
            {% endif %}

            {% if notifications %}
                <h2>Old Notifications</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Post title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Action</th>
                            <th scope="col">Mark read</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for noti in notifications %}
                            <tr id="{{ noti.id }}">
                                <td>
                                    <a href="{% url 'post-detail' pk=noti.post.id %}">
                                        <strong>{{ noti.post.title|slice:":20" }}{% if noti.post.title|length > 20 %}...{% endif %}</strong>
                                    </a>
                                </td>
                                <td>{{ noti.post.author_display_name }}</td>
                                <td>{% if noti.notification_type.name == 'post added' %}Added Post{% elif noti.notification_type.name == 'post deleted' %}Deleted{% endif %}</td>
                                <td>
                                    Marked Read
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if page_obj.has_previous %}
                    <a href="{% url 'manager-post-list' %}?page={{ page_obj.previous_page_number }}">
                        Previous Page
                    </a>
                {% endif%}
                {% for page_number in page_obj.adjusted_elided_pages %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        <a
                            href="{% url 'manager-post-list' %}?page={{ page_number }}"
                            class="{% if page_number == page_obj.number %}current{% endif %}"
                        >
                            {{ page_number }}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'manager-post-list' %}?page={{ page_obj.next_page_number }}">
                        Next Page
                    </a>
                {% endif%}
            {% else %}
                <h2>No Old Notifications</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

    <script>
        $(".noti-item").click(function(){
            let noti_id = $(this).parent().parent().attr('id');
            $.ajax({
                url: "{% url 'notification-seen' %}?pk="+noti_id,
                success: function(result){
                    location.reload();
                }
            });
        });


    </script>

{% endblock %}