{% extends "custom_admin/admin_main_page.html" %}

{% block css %}{% endblock %}


{% block search %}

    <form method="GET" class="d-flex">
        <input class="form-control me-2" type="search" name='search' placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

{% endblock %}



{% block body %}
<div class="container my-3">
    <div class="row">
        <div class="col-md-10">
            {% if notifications %}
                <ul>
                    {% for noti in notifications %}
                        <li>

                            <a href="{% url 'admin-application-notification-update' pk=noti.id %}">
                                {{ noti.notification_type }} | {{ noti.user.first_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {% if page_obj.has_previous %}
                    <a href="{% url 'admin-application-notification-list' %}?page={{ page_obj.previous_page_number }}">
                        Previous Page
                    </a>
                {% endif%}
                {% for page_number in page_obj.adjusted_elided_pages %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        <a
                            href="{% url 'admin-application-notification-list' %}?page={{ page_number }}"
                            class="{% if page_number == page_obj.number %}current{% endif %}"
                        >
                            {{ page_number }}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'admin-application-notification-list' %}?page={{ page_obj.next_page_number }}">
                        Next Page
                    </a>
                {% endif%}
            {% else %}

                No notifications

            {% endif %}
        </div>
        <div class="col-md-2">
            <form method="GET" class="d-flex">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Filter</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                          <div>
                              <label for="request_for">Request For Post</label>
                          </div>
                          <select name="request_for" id="request_for">
                            <option value="">--</option>
                            <option value="manager">Manager</option>
                            <option value="editor">Editor</option>
                          </select>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <button class="btn btn-outline-success" type="submit">Filter</button>
                      </td>
                    </tr>

                  </tbody>
                </table>

            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}