{% extends "custom_admin/admin_panel.html" %}

{% block css %}{% endblock %}

{% block body %}
<div class="container my-3">
    {% if notifications %}
        <ul>
            {% for noti in notifications %}
                <li>

                    <a href="{% url 'change_application_notification' pk=noti.id %}">
                        {{ noti.notification_type }} | {{ noti.user.first_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}

        No notifications

    {% endif %}
</div>
{% endblock %}

{% block js %}{% endblock %}