{% extends "custom_admin/admin_panel.html" %}

{% block css %}{% endblock %}


{% block search %}

    <form method="GET" class="d-flex">
        <input class="form-control me-2" type="search" name='search' placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

{% endblock %}



{% block body %}
<div class="container my-3">
    {% if users %}
        <ul>
            {% for user in users %}
                <li>
                    <a href="{% url 'change_user' pk=user.id %}">
                        {{ user.first_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}

        No Users

    {% endif %}
</div>
{% endblock %}

{% block js %}{% endblock %}