{% extends "custom_admin/admin_main_page.html" %}

{% block css %}{% endblock %}

{% block body %}
<div class="container my-3">
    <div class="row">
    {% if post_status_records %}
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Changed By</th>
                    <th scope="col">Post title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Changed On</th>
                </tr>
              </thead>
                <tbody>
                    {% for post_status_record in post_status_records %}
                        <tr>
                            <td>{{ post_status_record.changed_by.first_name }}</td>
                            <td>{{ post_status_record.post.title }}</td>
                            <td>{{ post_status_record.status.name }}</td>
                            <td>{{ post_status_record.changed_on }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


            {% if page_obj.has_previous %}
                <a href="{% url 'admin-post-status-record-list' %}?page={{ page_obj.previous_page_number }}">
                    Previous Page
                </a>
            {% endif%}
            {% for page_number in page_obj.adjusted_elided_pages %}
                {% if page_number == page_obj.paginator.ELLIPSIS %}
                    {{page_number}}
                {% else %}
                    <a
                        href="{% url 'admin-post-status-record-list' %}?page={{ page_number }}"
                        class="{% if page_number == page_obj.number %}current{% endif %}"
                    >
                        {{ page_number }}
                    </a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="{% url 'admin-post-status-record-list' %}?page={{ page_obj.next_page_number }}">
                    Next Page
                </a>
            {% endif%}
        </div>
    </div>
    {% else %}

        No post status records

    {% endif %}
</div>
{% endblock %}

{% block js %}{% endblock %}