{% extends "custom_admin/admin_main_page.html" %}

{% block css %}{% endblock %}

{% block body %}
<div class="container my-3">
    <div class="row">
    {% if notification_statuses %}
        <div class="col-md-4">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Notification Status</th>
                </tr>
              </thead>
                <tbody>
                    {% for notification_status in notification_statuses %}
                        <tr>
                          <td>{{ notification_status.name|title }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if page_obj|length > 1 %}
                {% if page_obj.has_previous %}
                    <a href="{% url 'admin-notification-status-list' %}?page={{ page_obj.previous_page_number }}">
                        Previous Page
                    </a>
                {% endif%}
                {% for page_number in page_obj.adjusted_elided_pages %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        <a
                            href="{% url 'admin-notification-status-list' %}?page={{ page_number }}"
                            class="{% if page_number == page_obj.number %}current{% endif %}"
                        >
                            {{ page_number }}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'admin-notification-status-list' %}?page={{ page_obj.next_page_number }}">
                        Next Page
                    </a>
                {% endif%}
            {% endif %}
        </div>
    </div>
    {% else %}
        <div class="h-100 p-5 text-white bg-dark rounded-3 text-center">
            <h2 class="mt-5">
                There is no notification status
                <i class="fa fa-exclamation-circle" style="font-size:36px"></i>
            </h2>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block js %}{% endblock %}