{% extends "custom_admin/admin_main_page.html" %}

{% block css %}

    <style>
        p {
            margin: 0;
        }
    </style>

{% endblock %}

{% block body %}
<div class="container my-3">
    <div class="row">
    {% if posts %}
{#        <div class="col">#}
            {% for post in posts %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title|truncatechars:20 }}</h5>
                            <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                            <p class="card-text"><strong>Author:</strong> {% if post.author %}{{ post.author.first_name|title }}<br><span class="text-muted">{{ post.author.email }}</span>{% else %}-{% endif %}</p>
                            <p class="card-text"><strong>Created On:</strong> {{ post.created_on }}</p>
                            <p class="card-text"><strong>Views:</strong> {{ post.views }}</p>
                            <p class="card-text"><strong>Status:</strong> {{ post.status.name|title }}</p>
                            <p class="card-text"><strong>Categories:</strong> {% for cat in post.category.all %}{% if forloop.last %}{{ cat|title }}{% else %}{{ cat|title }}, {% endif %}{% endfor %}</p>
                            <p class="card-text"><strong>Type:</strong> {{ post.post_type|title }}</p>
                            <p class="card-text"><strong>Author display:</strong> {{ post.author_display_name|title }}</p>
                            <p class="card-text"><strong>Premium post:</strong> {% if post.premium %}Yes{% else %}No{% endif %}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if page_obj|length > 1 %}
                {% if page_obj.has_previous %}
                    <a href="{% url 'admin-post-list' %}?page={{ page_obj.previous_page_number }}">
                        Previous Page
                    </a>
                {% endif%}
                {% for page_number in page_obj.adjusted_elided_pages %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        <a
                            href="{% url 'admin-post-list' %}?page={{ page_number }}"
                            class="{% if page_number == page_obj.number %}current{% endif %}"
                        >
                            {{ page_number }}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'admin-post-list' %}?page={{ page_obj.next_page_number }}">
                        Next Page
                    </a>
                {% endif%}
            {% endif %}
{#        </div>#}
    </div>
    {% else %}
        <div class="row">
            <div class="col">
                <div class="h-100 p-5 text-white bg-dark rounded-3 text-center">
                    <h2 class="mt-5">
                        There are no posts
                        <i class="fa fa-exclamation-circle" style="font-size:36px"></i>
                    </h2>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block js %}{% endblock %}