{% extends "custom_admin/admin_panel.html" %}

{% block css %}{% endblock %}

{% block body %}
<div class="container-fluid my-3">
    <div class="row">
    {% if posts %}
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Content</th>
                    <th scope="col">Created On</th>
                    <th scope="col">Views</th>
                    <th scope="col">Status</th>
                    <th scope="col">Categories</th>
                    <th scope="col">image</th>
                    <th scope="col">Post Type</th>
                    <th scope="col">Author Display name</th>
                    <th scope="col">Preimium</th>
                </tr>
              </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.title|slice:":20" }}...</td>
                            <td>{% if not post.author %}-{% else %}{{ post.author.first_name }}{% endif %}</td>
                            <td>{{ post.content|slice:":20" }}...</td>
                            <td>{{ post.created_on }}</td>
                            <td>{{ post.views }}</td>
                            <td>{{ post.status.name }}</td>
                            <td>{% for tag in post.category.all %}{{ tag }}<br>{% endfor %}</td>
                            <td><a href="{{ post.image.url }}">Image</a> </td>
                            <td>{{ post.post_type.name }}</td>
                            <td>{{ post.author_display_name }}</td>
                            <td>{{ post.premium  }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


            {% if page_obj.has_previous %}
                <a href="{% url 'admin_posts_listview' %}?page={{ page_obj.previous_page_number }}">
                    Previous Page
                </a>
            {% endif%}
            {% for page_number in page_obj.adjusted_elided_pages %}
                {% if page_number == page_obj.paginator.ELLIPSIS %}
                    {{page_number}}
                {% else %}
                    <a
                        href="{% url 'admin_posts_listview' %}?page={{ page_number }}"
                        class="{% if page_number == page_obj.number %}current{% endif %}"
                    >
                        {{ page_number }}
                    </a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="{% url 'admin_posts_listview' %}?page={{ page_obj.next_page_number }}">
                    Next Page
                </a>
            {% endif%}
        </div>
    </div>
    {% else %}

        No posts

    {% endif %}
</div>
{% endblock %}

{% block js %}{% endblock %}