{% extends "custom_admin/manager_panel.html" %}

{% block css %}{% endblock %}


{% block search %}

    <form method="GET" class="d-flex">
        <input class="form-control me-2" type="search" name='search' placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

{% endblock %}



{% block body %}
<div class="container my-3">
    <a href="{% url 'add_category' %}">
        <p>Add Category</p>
    </a>
    {% if categories %}
        <ul>
            {% for cat in categories %}
                <li>
                    <a href="{% url 'change_category' pk=cat.id %}">
                        {{ cat.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}

        No Categories

    {% endif %}
</div>
{% endblock %}

{% block js %}{% endblock %}