{% extends "news_blog/base.html" %}

{% block title %}

    {{ user.user_type|title }} Panel

{% endblock %}
{% block css %}{% endblock %}


{% block body %}
    <div class="container my-3">
        Are you sure you want to restore this post?

        {% load crispy_forms_tags %}
        <form method = "POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Restore">
        </form>


    </div>
{% endblock %}

{% block js %}{% endblock %}