{% extends "custom_admin/editor_main_page.html" %}

{% block css %}{% endblock %}


{% block search %}

    <form method="GET" class="d-flex">
        <input class="form-control me-2" type="search" name='search' placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

{% endblock %}

{% block body %}
<div class="container my-3">
    <div class="row">
        <div class="col-md-10">
            {% if posts %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Post</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                            <tr>
                                <td>
                                    <span>{{ post.title|truncatechars:20 }}</span> <br>
                                    <span class="text-muted">{{ post.created_on }}</span>

                                </td>
                                <td>
                                    <a href="{% url 'editor-post-update' pk=post.id %}" class="btn btn-primary">
                                        Edit
                                    </a>
                                    <a href="{% url 'editor-comment-list' pk=post.id %}" class="btn btn-primary">
                                        View Comments
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if page_obj|length > 1 %}
                    {% if page_obj.has_previous %}
                        <a href="{% url 'editor-post-list' %}?page={{ page_obj.previous_page_number }}">
                            Previous Page
                        </a>
                    {% endif%}
                    {% for page_number in page_obj.adjusted_elided_pages %}
                        {% if page_number == page_obj.paginator.ELLIPSIS %}
                            {{page_number}}
                        {% else %}
                            <a
                                href="{% url 'editor-post-list' %}?page={{ page_number }}"
                                class="{% if page_number == page_obj.number %}current{% endif %}"
                            >
                                {{ page_number }}
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="{% url 'editor-post-list' %}?page={{ page_obj.next_page_number }}">
                            Next Page
                        </a>
                    {% endif%}
                {% endif %}
            {% else %}
                <div class="h-100 p-5 text-white bg-dark rounded-3 text-center">
                    <h2 class="mt-5">
                        There are no posts
                        <i class="fa fa-exclamation-circle" style="font-size:36px"></i>
                    </h2>
                </div>
            {% endif %}
        </div>
        <div class="col-md-2">
            <a href="{% url 'editor-post-create' %}" >
                <p class="btn btn-outline-success w-100" >
                    <i class="fa fa-plus-circle" style="font-size:24px"></i>
                    Add Post
                </p>
            </a>
            <form method="GET" class="d-flex">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">Filter</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                          Date
                          <input type="date" id="created_on" name="created_on">
                      </td>
                    </tr>
                    <tr>
                      <td>
                          {% for cat in categories %}
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="{{ cat.name }}" value="1" id="{{ cat.name }}">
                                  <label class="form-check-label" for="{{ cat.name }}">
                                        {{ cat.name }}
                                  </label>
                              </div>
                        {% endfor %}

                      </td>
                    </tr>
                    <tr>
                      <td>
                          <div>
                              <label for="statuses">Status</label>
                          </div>
                          <select name="status" id="statuses">
                            <option value="">--</option>
                                {% for status in statuses %}
                                    <option value="{{ status.name }}">{{ status.name }}</option>
                                {% endfor %}
                          </select>
                      </td>
                    </tr>
                  <tr>
                      <td>
                          <button class="btn btn-outline-success" type="submit">Filter</button>
                      </td>
                    </tr>

                  </tbody>
                </table>

            </form>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}{% endblock %}