{% extends "news_blog/base.html" %}
{% load crispy_forms_filters %}

{% block title %}

    {{ user.user_type|title }} Panel

{% endblock %}
{% block css %}{% endblock %}


{% block body %}
    <div class="container my-3">
        <div class="row">
            <div class="col offset-md-1">
                <h1>Are you sure you want to restore this post?</h1>
                <form method = "POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Restore Post" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}{% endblock %}