{% extends "custom_admin/manager_panel.html" %}

{% block css %}{% endblock %}

{% block search %}

    <form method="GET" class="d-flex">
        <input class="form-control me-2" type="search" name='search' placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

{% endblock %}


{% block body %}
<div class="container my-3">

    <div class="row">
        <div class="col-md-10">
            {% if posts %}
                <ul>
                    {% for post in posts %}
                        <li>
                            <a href="{% url 'managers_change_news_post' pk=post.id %}">
                                {{ post }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {% if page_obj.has_previous %}
                    <a href="{% url 'managers_news_posts_table' %}?page={{ page_obj.previous_page_number }}">
                        Previous Page
                    </a>
                {% endif%}
                {% for page_number in page_obj.adjusted_elided_pages %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        <a
                            href="{% url 'managers_news_posts_table' %}?page={{ page_number }}"
                            class="{% if page_number == page_obj.number %}current{% endif %}"
                        >
                            {{ page_number }}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'managers_news_posts_table' %}?page={{ page_obj.next_page_number }}">
                        Next Page
                    </a>
                {% endif%}
            {% else %}

                No News Posts

            {% endif %}
        </div>
        <div class="col-md-2">
            <form method="GET" class="d-flex">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Filter</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                          Date
                          <input type="date" id="created_on" name="created_on">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {% for cat in categories %}
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="{{ cat.name }}" value="1" id="{{ cat.name }}">
                                  <label class="form-check-label" for="{{ cat.name }}">
                                        {{ cat.name }}
                                  </label>
                              </div>
                        {% endfor %}


                      </td>
                    </tr>
                    <tr>
                      <td>
                          <div>
                              <label for="statuses">Status</label>
                          </div>
                          <select name="status" id="statuses">
                            <option value="">--</option>
                                {% for status in statuses %}
                                    <option value="{{ status.name }}">{{ status.name }}</option>
                                {% endfor %}
                          </select>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <div>
                              <label for="editors">Editor</label>
                          </div>
                          <select name="editor" id="editors">
                            <option value="">--</option>
                                {% for author in authors %}
                                    <option value="{{ author.author_display_name }}">{{ author.author_display_name }}</option>
                                {% endfor %}
                          </select>
                      </td>
                    </tr>
                  <tr>
                      <td>
                          <button class="btn btn-outline-success" type="submit">Filter</button>
                      </td>
                    </tr>

                  </tbody>
                </table>

            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}