{% extends "custom_admin/manager_home_page.html" %}

{% block css %}{% endblock %}


{% block search %}

    <form method="GET" class="d-flex">
        <input class="form-control me-2" type="search" name='search' placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

{% endblock %}



{% block body %}
<div class="container my-3">
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'manager-categorie-create' %}">
                <p class="btn btn-outline-success w-10" >
                    <i class="fa fa-plus-circle" style="font-size:24px"></i>
                    Add Category
                </p>
            </a>
        </div>
    </div>
    {% if categories %}
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group">
                    {% for cat in categories %}
                        <li class="list-group-item">
                            <a href="{% url 'manager-categorie-update' pk=cat.id %}">
                                {{ cat.name|title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="h-100 p-5 text-white bg-dark rounded-3 text-center">
                    <h2 class="mt-3">
                        There are no Categories
                        <i class="fa fa-exclamation-circle" style="font-size:36px"></i>
                    </h2>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block js %}{% endblock %}