{% extends "custom_admin/manager_panel.html" %}

{% block css %}{% endblock %}

{% block search %}

    <form method="GET" class="d-flex">
        <input class="form-control me-2" type="search" name='search' placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

{% endblock %}


{% block body %}
<div class="container my-3">

    <div class="row">
        <div class="col-md-10">
            {% if deleted_items %}
                <ul>
                    {% for item in deleted_items %}
                        <li>
                            {{ item.post }} | {{ item.deleted_by.first_name }} | {{ item.recycle_created_on }}
                            <a href="{% url 'managers_restore_news_post' pk=item.id %}">
                                Restore
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {% if page_obj.has_previous %}
                    <a href="{% url 'managers_restore_post_table' %}?page={{ page_obj.previous_page_number }}">
                        Previous Page
                    </a>
                {% endif%}
                {% for page_number in page_obj.adjusted_elided_pages %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        <a
                            href="{% url 'managers_restore_post_table' %}?page={{ page_number }}"
                            class="{% if page_number == page_obj.number %}current{% endif %}"
                        >
                            {{ page_number }}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'managers_restore_post_table' %}?page={{ page_obj.next_page_number }}">
                        Next Page
                    </a>
                {% endif%}
            {% else %}

                No Deleted News Posts

            {% endif %}
        </div>
        <div class="col-md-2">
            <form method="GET" class="d-flex">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Filter</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                          Deleted On
                          <input type="date" id="deleted_on" name="deleted_on">
                      </td>
                    </tr>
                  <tr>
                      <td>
                          <button class="btn btn-outline-success" type="submit">Filter</button>
                      </td>
                    </tr>

                  </tbody>
                </table>

            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}