{% extends "custom_admin/manager_home_page.html" %}
{% load crispy_forms_filters %}

{% block css %}{% endblock %}

{% block body %}
    <div class="container my-3">
        <div class="row">
            <div class="clo">
                <form method = "POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}{% endblock %}