{% extends "custom_admin/manager_home_page.html" %}

{% block css %}{% endblock %}

{% block search %}

    <form method="GET" class="d-flex">
        <input class="form-control me-2" type="search" name='search' placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

{% endblock %}


{% block body %}
<div class="container my-3">

    <div class="row">
        <div class="col-md-10">
            {% if deleted_items %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Deleted Posts</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in deleted_items %}
                            <tr>
                                <td>
                                    Title: {{ item.post.title|truncatechars:20 }} <br>
                                    <span class="text-muted">Deleted By: {{ item.deleted_by.first_name }}({{ item.deleted_by.email }})</span> <br>
                                    <span class="text-muted">Deleted On: {{ item.recycle_created_on }}</span>
                                </td>
                                <td>
                                    <a href="{% url 'manager-restore-post' pk=item.id %}" class="btn btn-success">
                                        Restore
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if page_obj.has_previous %}
                    <a href="{% url 'manager-restore-post-list' %}?page={{ page_obj.previous_page_number }}">
                        Previous Page
                    </a>
                {% endif%}
                {% for page_number in page_obj.adjusted_elided_pages %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        <a
                            href="{% url 'manager-restore-post-list' %}?page={{ page_number }}"
                            class="{% if page_number == page_obj.number %}current{% endif %}"
                        >
                            {{ page_number }}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'manager-restore-post-list' %}?page={{ page_obj.next_page_number }}">
                        Next Page
                    </a>
                {% endif%}
            {% else %}
                <div class="h-100 p-5 text-white bg-dark rounded-3 text-center">
                    <h2 class="mt-3">
                        There are no deleted posts
                        <i class="fa fa-exclamation-circle" style="font-size:36px"></i>
                    </h2>
                </div>
            {% endif %}
        </div>
        <div class="col-md-2">
            <form method="GET" class="d-flex">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">Filter</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                          Deleted On
                          <input type="date" id="deleted_on" name="deleted_on">
                      </td>
                    </tr>
                  <tr>
                      <td>
                          <button class="btn btn-outline-success" type="submit">Filter</button>
                      </td>
                    </tr>

                  </tbody>
                </table>

            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}