{% extends "news_blog/base.html" %}

{% block title %}

    {{ user.user_type|title }} Panel

{% endblock %}

{% block css %}{% endblock %}

{% block body %}
    <div class="container my-3">
        {% load crispy_forms_tags %}
        <form method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Save">

            {% if user.user_type.name == 'editor' %}
                <a href="{% url 'editors_delete_news_post' pk=object.id %}" class='btn btn-danger'>Delete</a>
            {% endif %}
        </form>

    </div>
{% endblock %}

{% block js %}{% endblock %}