{% extends "news_blog/base.html" %}

{% block title %}Password Reset{% endblock %}

{% block css %}{% endblock %}

{% block body %}
    {% if validlink %}

        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="font-weight-light my-4 text-center">Reset Your Password</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_new_password1" class="form-label">New Password</label>
                            <input type="password" name="new_password1" autocomplete="new-password"
                                           class="form-control" required id="id_new_password1"
                                           placeholder="Enter password"/>
                        </div>
                        <div class="mb-3">
                            <label for="id_new_password2" class="form-label">New Password Confirmation</label>
                            <input type="password" name="new_password2" autocomplete="new-password"
                                           required id="id_new_password2" class="form-control"
                                           placeholder="Confirm password"/>
                        </div>
                        <button type="submit" class="btn btn-primary" id="reset">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>

    {% else %}
    <div class="alert alert-warning">
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </div>
    {% endif %}
{% endblock %}

{% block js %}{% endblock %}