{% extends "news_blog/base.html" %}

{% block title %}Register Pagee{% endblock %}

{% block css %}{% endblock %}



{% block body %}

{% load crispy_forms_tags %}
<div class="container">
  <h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
</div>


{% endblock %}

{% block js %}{% endblock %}