{% extends "news_blog/base.html" %}

{% block title %}Admin Panel{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
    <div class="container my-3">
        <ul>
            <h6>CUSTOM_ADMIN</h6>
            <li><a href="{% url 'admin_manager_comments_listview' %}">Manager comments</a></li>
            <br>
            <h6>NEWS_BLOG</h6>
            <li><a href="{% url 'application_notification_table' %}">Application Notification</a></li>
            <li><a href="{% url 'admin_categories_listview' %}">Categories</a></li>
            <li><a href="{% url 'admin_follows_listview' %}">Follows</a></li>
            <li><a href="{% url 'admin_notification_status_listview' %}">Notification status</a></li>
            <li><a href="{% url 'admin_notification_type_listview' %}">Notification types</a></li>
            <li><a href="{% url 'admin_pcmiddle_listview' %}">Pc middles</a></li>
            <li><a href="{% url 'admin_post_notification_listview' %}">Post notifications</a></li>
            <li><a href="{% url 'admin_post_recycle_listview' %}">Post recycles</a></li>
            <li><a href="{% url 'admin_post_status_records_listview' %}">Post status records</a></li>
            <li><a href="{% url 'admin_post_status_listview' %}">Post status</a></li>
            <li><a href="{% url 'admin_post_view_listview' %}">Post views</a></li>
            <li><a href="{% url 'admin_posts_listview' %}">Posts</a></li>
            <br>
            <h6>Users</h6>
            <li><a href="{% url 'admin_user_type_listview' %}">User types</a></li>
            <li><a href="{% url 'users_table' %}">Users</a></li>
        </ul>
    </div>
{% endblock %}

{% block js %}{% endblock %}