{% extends "news_blog/base.html" %}

{% block title %}Admin Panel{% endblock %}

{% block css %}
{% endblock %}

{% block body %}

    <ul>
        <li><a href="{% url 'users_table' %}">Users</a></li>
        <li>Users Type</li>
        <hr>
        <li>Users</li>
        <li>Users</li>
        <li>Users</li>
        <li>Users</li>
        <li>Users</li>
        <li>Users</li>
        <li>Users</li>
        <li>Users</li>
        <li>Users</li>

    </ul>

{% endblock %}

{% block js %}{% endblock %}