{% extends "custom_admin/admin_main_page.html" %}

{% block css %}

    <style>

        .alert {
            display: inline-block;
        }
        .invalid-feedback {
            display: inline-block;
            width: 100%;
            margin-top: .25rem;
            font-size: .875em;
            color: #dc3545;
        }

        #users-container {
            color: #212529;
            background-color: #fff;
            font-size: 1rem;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            max-height: 150px;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 1rem 0.75rem;
            border-radius: 0.25rem;
        }

    </style>


{% endblock %}

{% block body %}
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <form method="POST" id="users_to_send_notification">
                    {% csrf_token %}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="ckbCheckAll" />
                        <label class="form-check-label" for="{{ user.id }}">
                            <strong>Check all</strong>
                        </label>
                    </div>

                    {% if users %}
                        <div id="users-container">
                            {% for user in users %}
                                <div class="form-check">
                                  <input class="form-check-input checkBoxClass" name="checks[]" type="checkbox" value="{{ user.id }}" id="{{ user.id }}">
                                  <label class="form-check-label" for="{{ user.id }}">
                                    {{ user.first_name }} <small class="text-muted">({{ user.email }})</small>
                                  </label>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="invalid-feedback">No Users</p>
                    {% endif %}
                    {% if users_error %}
                        <div class="invalid-feedback" >
                            {{ users_error }}
                        </div>
                    {% endif %}
                    <br>
                    <br>
                    <div class="form-floating">
                      <textarea class="form-control" id="message" name="message" style="height: 100px"></textarea>
                      <label for="message">Message</label>
                    </div>
                    {% if message_error %}
                        <div class="invalid-feedback">
                            {{ message_error }}
                        </div>
                    {% endif %}
                    <br>
                    <input type="submit" class="btn btn-success" value="Send">
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}

    <script>
        $(document).ready(function () {
            $("#ckbCheckAll").click(function () {
                $(".checkBoxClass").prop('checked', $(this).prop('checked'));
            });
        });
    </script>


{% endblock %}