{% extends "custom_admin/admin_panel.html" %}

{% block css %}{% endblock %}

{% block body %}
<div class="container my-3">
    <div class="row">
    {% if manager_comments %}
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Manager</th>
                    <th scope="col">Post</th>
                    <th scope="col">Comment</th>
                </tr>
              </thead>
                <tbody>
                    {% for manager_comment in manager_comments %}
                        <tr>
                            <td>{{ manager_comment.manager.first_name }}</td>
                            <td>{{ manager_comment.post.title }}</td>
                            <td>{{ manager_comment.comment }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>


            {% if page_obj.has_previous %}
                <a href="{% url 'admin_manager_comments_listview' %}?page={{ page_obj.previous_page_number }}">
                    Previous Page
                </a>
            {% endif%}
            {% for page_number in page_obj.adjusted_elided_pages %}
                {% if page_number == page_obj.paginator.ELLIPSIS %}
                    {{page_number}}
                {% else %}
                    <a
                        href="{% url 'admin_manager_comments_listview' %}?page={{ page_number }}"
                        class="{% if page_number == page_obj.number %}current{% endif %}"
                    >
                        {{ page_number }}
                    </a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="{% url 'admin_manager_comments_listview' %}?page={{ page_obj.next_page_number }}">
                    Next Page
                </a>
            {% endif%}
        </div>
    </div>
    {% else %}

        No manager comments

    {% endif %}
</div>
{% endblock %}

{% block js %}{% endblock %}