{% extends "custom_admin/admin_main_page.html" %}

{% block css %}{% endblock %}

{% block body %}
<div class="container my-3">
    <div class="row">
    {% if manager_comments %}
        <div class="col">
            {% for manager_comment in manager_comments %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        {% if manager_comment.post.status.name == 'active' %}
                            <h5 class="card-title">
                                <a href="{% url 'post-detail' pk=manager_comment.post.id %}">
                                    {{ manager_comment.post.title }}
                                </a>
                            </h5>
                        {% else %}
                            <h5 class="card-title">{{ manager_comment.post.title }}</h5>
                        {% endif %}

                        <p class="card-text" ><strong>Comment:</strong> {{ manager_comment.comment }}</p>
                        <p class="card-text"><strong>Comment By:</strong> {{ manager_comment.manager.first_name }}<span class="text-muted text-nowrap">{{ manager_comment.manager.email }}</span></p>
                    </div>
                </div>
            {% endfor %}


            {% if page_obj.has_previous %}
                <a href="{% url 'admin-manager-comment-list' %}?page={{ page_obj.previous_page_number }}">
                    Previous Page
                </a>
            {% endif%}
            {% for page_number in page_obj.adjusted_elided_pages %}
                {% if page_number == page_obj.paginator.ELLIPSIS %}
                    {{page_number}}
                {% else %}
                    <a
                        href="{% url 'admin-manager-comment-list' %}?page={{ page_number }}"
                        class="{% if page_number == page_obj.number %}current{% endif %}"
                    >
                        {{ page_number }}
                    </a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="{% url 'admin-manager-comment-list' %}?page={{ page_obj.next_page_number }}">
                    Next Page
                </a>
            {% endif%}
        </div>
    </div>
    {% else %}
        <div class="h-100 p-5 text-white bg-dark rounded-3 text-center">
            <h2 class="mt-3">
                There are no manager comments
                <i class="fa fa-exclamation-circle" style="font-size:36px"></i>
            </h2>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block js %}{% endblock %}